body{
    min-height: 100vh;
    font-family: sans-serif;
    padding-top: 80px;
}
nav{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
    background-color: #F7A072;
}
nav #toggle{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 5px 0;
    box-sizing: border-box;
}
#menu #close{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px 0;
    box-sizing: border-box;
    margin-bottom: 20px;
}
#menu #close span{
    width: 30px;
    height: 2px;
    background-color: black;
    transform: rotate(45deg);
}
#menu #close span:last-child{
    width: 30px;
    height: 2px;
    background-color: black;
    transform: rotate(-45deg);
}
nav #toggle span{
    width: 30px;
    height: 2px;
    background-color: black;
}
#menu{
    box-sizing: border-box;
    position: fixed;
    height: 100vh;
    right: 0;
    top: 0;
    width: 60vw;
    padding: 20px;
    background-color: #eddea4;
    transform: translateX(100%);
    transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    max-width: 600px;
}
#menu.active{
    transform: translateX(0);
}
.content{
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    max-width: 600px;
    margin: auto;
}
.content .cat{
    text-transform: capitalize;
    aspect-ratio: 1;
    width: 100%;
    background-color: #F7A072;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content .cat a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#BAR{
    border-top: 5px solid #000;
}