@font-face {
    font-family: 'aldrich'; /*a name to be used later*/
    src: url('../fonts/Aldrich-Regular.ttf'); /*URL to font*/
}

body{
    background-color: #D5CDC9;
    min-height: 100vh;
    font-family: aldrich, sans-serif;
    padding-top: 80px;
    user-select: none; 
}

/* NAVBAR */

nav{
    z-index: 950;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
    background-color: #5C474D;
}
nav #toggle{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 5px 0;
    box-sizing: border-box;
}
#menu #close{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px 0;
    box-sizing: border-box;
    margin-bottom: 20px;
}
#menu #close span{
    width: 30px;
    height: 2px;
    background-color: white;
    transform: rotate(45deg);
}
#menu #close span:last-child{
    width: 30px;
    height: 2px;
    background-color: white;
    transform: rotate(-45deg);
}
nav #toggle span{
    width: 30px;
    height: 2px;
    background-color: white;
}
#menu{
    box-sizing: border-box;
    position: fixed;
    height: 100vh;
    right: 0;
    top: 0;
    width: 60vw;
    padding: 20px;
    background-color: #45353A;
    transform: translateX(100%);
    transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    max-width: 600px;
}
#menu.active{
    transform: translateX(0);
}



.catimg{
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    display: block;
}

.content{
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    max-width: 600px;
    margin: auto;
}

.content .cat{
    height: 150px;
    z-index: 900;
    aspect-ratio: 1;
    width: 100%;
    background-color: #C75000;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(4px 10px 4px rgba(0, 0, 0, 0.205));
}
.content .cat a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.bar{
    border-top: 5px solid #000;
}

.divTitle{
    background-color: #513E44;
    padding: 5px;
    margin: 10px;
}

.title{
    text-align: center;
    color: #D2CBC6;
    font-size: 23px;
}

.container{
    padding: 15px;
    max-width: 600px;
    margin: auto;
    align-items: center;
}

.product{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 150px;
    background-color: #C75000;
}
