@font-face {
    font-family: 'aldrich'; /*a name to be used later*/
    src: url('../fonts/Aldrich-Regular.ttf'); /*URL to font*/
}

body{
    background-color: #D5CDC9;
    min-height: 100vh;
    font-family: aldrich, sans-serif;
    padding-top: 80px;
    user-select: none; 
}

/* NAVBAR */

nav{
    z-index: 950;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
    background-color: #5C474D;
}
nav #toggle{
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 5px 0;
    box-sizing: border-box;
}
#menu #close{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px 0;
    box-sizing: border-box;
    margin-bottom: 20px;
}
#menu #close span{
    width: 30px;
    height: 2px;
    background-color: white;
    transform: rotate(45deg);
}
#menu #close span:last-child{
    width: 30px;
    height: 2px;
    background-color: white;
    transform: rotate(-45deg);
}
nav #toggle span{
    width: 30px;
    height: 2px;
    background-color: white;
}
#menu{
    box-sizing: border-box;
    position: fixed;
    height: 100vh;
    right: 0;
    top: 0;
    width: 75vw;
    padding: 20px;
    background-color: #45353A;
    transform: translateX(100%);
    transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    max-width: 600px;
}
#menu.active{
    transform: translateX(0);
}

#order{
    color: #D2CBC6;
}

.catName{
    color: white;
    font-size: 25px;
    filter: drop-shadow(0px 0px 5px rgb(240, 240, 240, 255));
}

.content{
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    max-width: 600px;
    margin: auto;
}

.content #cat{
    height: 150px;
    z-index: 900;
    aspect-ratio: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-image: no-repeat center center;
    background-position: center;
    filter: drop-shadow(4px 10px 4px rgba(0, 0, 0, 0.205));
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.6s ease-in-out;
}
body.active .content #cat{
    opacity: 1;
    transform: translateY(0);
}

.content #cat a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.bar{
    border-top: 5px solid #000;
}

.divTitle{
    background-color: #513E44;
    padding: 5px;
    margin: 10px;
}

.title{
    text-align: center;
    color: #D2CBC6;
    font-size: 23px;
}

.container{
    padding: 15px;
    max-width: 600px;
    margin: auto;
    align-items: center;
}

.product{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    background-color: #C75000;
    filter: drop-shadow(4px 10px 4px rgba(0, 0, 0, 0.205));
}

table{
    height: 100%;
    width: 100%;
}

th{
    height: 100%;
}

.col1{
    width: 40%;
    background-size: cover;
    background-image: no-repeat center center;
    background-position: center;
}

.addButton{
    background-color: #317B22;
    color: white;
    padding: 10px;
    margin: 7px;
    margin-left: 50%;
    border: 2px solid #317B22;
    font-family: aldrich, sans-serif;
    border-radius: 6px;
    font-size: 12px;
}
#badge{
    aspect-ratio: 1/1;
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(-50%, 25%);
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 12px;
}
.addButton:active{
    background-color: #399027;
    border: 2px solid #317B22;
}

.minusButton{
    aspect-ratio: 1/1;
    min-width: 20px;
    margin-left: 5px;
    border: none;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 12px;
}
.qr-code-fullscreen{
    position: fixed;
    inset: 0;
    z-index: 998;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s linear;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-code-fullscreen.active{
    pointer-events: all;
    opacity: 1;
}

.qr-code-fullscreen::before{
    content: '';
    position: fixed;
    inset: 0;
    background: white;
    opacity: 1;
    z-index: -1;
}


.validateButton{
    border: none;
}

#tableNum {
    color: white;
    font-size: larger;
    font-weight: bold;
}