@font-face {
    font-family: 'aldrich'; /*a name to be used later*/
    src: url('../fonts/Aldrich-Regular.ttf'); /*URL to font*/
}

html, body {
    font-family: aldrich;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
}

nav{
    z-index: 950;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    background-color: #5C474D;
}

.modal {
    width: 50vw;
    height: 50vh;
    height: calc(var(--vh, 1vh) * 50);
}

body {
    background-color: #F7A072;
    position: relative;
}

#qr-reader{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
	width: 90vw;
    height: 90vw;
}

#qr-reader>video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#outputBox {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
	width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vw;
}

#outputBox .buttonRefresh {
    background-color: #317B22;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px 20px;
    color: white;
}

#navtxt {
    color: aliceblue;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}